.projects-list {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  margin-top: 4em;
}

.projects-list h2 {
  font-size: 2.5em;
  color:white;
}

.scroll-container {
  display: flex;
  align-items: center; 
  position: relative; 
  overflow: hidden;
}

.scroll-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 100%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  z-index: 10;
}

.scroll-button:hover {
  background-color: white;
  color: black;
}

.scroll-button.left {
  left: 20px;
}

.scroll-button.right {
  right: 20px;
}

.project-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}


.project-container::-webkit-scrollbar {
  display: none; 
}

.project-item {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 15px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease-in-out; /* Smooth hover effect */
}

.project-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.08); /* Slight zoom effect on hover */
}

.project-name {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.project-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
